/*HEADER*/

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 88px 50px 92px;
}

.header__logo {
  display: block;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__links-list {
  display: flex;
  gap: 28px;
  list-style: circle;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.header__links-list-item {
  padding-left: 8px;
}

.header__links-list-item_no-bullit {
  list-style: none;
  padding-left: 0;
}

.header__link {
  font-size: 18px;
  color: #000;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

/*ADDRESS*/

.address {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
}

.header__address {
  justify-self: end;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #000;
  margin-right: 43px;
}

.address__link {
  text-underline-offset: 2px;
  color: inherit;
}

/*COVER*/

.cover {
  min-height: 757px;
  padding: 165px 50px 50px;
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0 0 0 / 0.6);
  z-index: 1;
  pointer-events: none;
}

.cover__title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  text-transform: uppercase;
  color: #fff;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text {
  display: block;
  width: 100%;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  margin-top: 20px;
  padding-left: 45px;
}

.aligned-text_right {
  text-align: right;
  margin-top: 20px;
}

.cover__description {
  position: absolute;
  left: 50px;
  right: 50px;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.cover__description-text {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
  color: #fff;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  background: transparent;
  padding: 12px 32px;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

/*LOTS*/

.lots {
  margin-top: 180px;
  padding: 0 24px;
}

.lots__head {
  display: block;
  margin: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
}

.lots__card-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  color: #fff;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.card__title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
}

.card__text {
  position: relative;
  z-index: 2;
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
}

.lots__look-more-link {
  display: inline-block;
  margin: 33px 0 0 40px;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  text-underline-offset: 4px;
}

/*ABOUT*/

.about {
  padding: 153px 24px 0;
  display: grid;
  grid-template-columns: 334px 1fr;
  column-gap: 25px;
  align-items: start;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: flex;
  background-color: #000;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column:last-child {
  padding-top: 102px;
}

.about__title {
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
  margin: 0;
  padding: 0;
}

.about__text p {
  margin: 0;
}

/*FOOTER*/

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin-top: 204px;
  padding: 0 50px 90px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  color: #000;
  text-decoration: underline;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-self: end;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  display: block;
}
